
* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;  
}

/* Elimina la barra de desplazamiento lateral 
::-webkit-scrollbar {
    display: none;
}
*/
header {
    background-color: rgba(200, 202, 200, 0.945);
    width: 100%;
}

main {
    margin: 0px;
    background-color: rgb(220, 217, 217);
    height: auto;
}


.titulo {
    margin-top: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    color: blue; 
    text-align: center;
}

#fecha {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

h4 {
    font-style: italic;
    text-align: center;
}

.col {
    text-align: center;
    
}
/*
@media (min-width: 1000px) {
    .titulo {
        text-align: center;
    }
    #fecha {
        text-align: center;
    }
}
*/
.contacto {
    text-align: center;
    text-transform: uppercase;
}

.motoAuto {
    display: flex;
    justify-content: space-around;  
}

.table {
    text-align: start;
}

input[type="text"],
input[type="phone"],
input[type="number"] {
    text-align: end;
    border-radius: 5px;
}

.table input[type="number"] {
    text-align: end;
    width: 100%;
}

input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

.total:hover {
    color: rgb(241, 30, 30);
    background-color: rgb(227, 189, 189);
    font-size: 18px;
}

.boton {
    
    font-size: 15px;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(131, 131, 239);
    width: 150px;
    height: 50px;
}

.boton:hover {
    background-color: blue;
}

footer {
    background-color: black;
    height: 100px;
}